<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Add New Player</h1>

  <form action="/bruins" method="POST">
    Name: <input type="text" name="name"><br/>
    Goals: <input type="number" name="goals"><br/>
    Assists: <input type="number" name="assists"><br/>
  
    <input type="submit">
  </form>


</body>
</html>
