<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Player Stat Page</h1>
  <%=bruins.name %> <br/>
   Goals:<%=bruins.goals%>
   Assists:<%=bruins.assists%>

  
</body>
</html>
